<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/main.css">
	<title>Login</title>
</head>
<body>
	
{% if error == 1 %}
	<p>Wrong email or password!</p>
{% elif error == 2 %}
	<p>Email input not email format</p>
{% endif %}

<div class="content-section-login">
	<form class="test" method="POST" action="">
	        <legend class = "logintitle">Log In</legend>
			{{ form.hidden_tag() }}
			<fieldset>
				{{ form.email.label(class="form-control-label") }}
				{{ form.email(class="form-control form-control-lg") }}

				{{ form.passw.label(class="form-control-label") }}
				{{ form.passw(class="form-control form-control-lg") }}

				{{ form.rem.label(class="form-check-label-login") }}
				{{ form.rem(class="form-check-input-login") }}

				{{ form.submit(class="btn btn-outline-info-login") }}
			</fieldset>
	</form>
</div>

</body>
</html>