{% if session.user %}      
    {% extends "protected.html" %}    
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block content %}

<body>
	
{% if error == 1 %}
	<p>Wrong email or password!</p>
{% elif error == 2 %}
	<p>Email input not email format</p>
{% endif %}

<div class="content-section-login">
	<div class ="content-login"> 
		<h3 class="welcome">Welcome to your company login</h3>
		<hr>
		<h6> Here you can login to book a reservation for your delivery, and view your reservations! <br>
			 Use your company credentials to login, or create an account. </h6>    
			 <h6>
				Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
			 </h6>
			 <img class="loginimage" src="https://cdn.pixabay.com/photo/2012/04/11/18/12/recycle-29227_960_720.png" alt="Recycle" width="150" height="150">
	</div>
	<form class = "test" method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset >
			<legend class = "logintitle">Log In</legend>
			<div>
				{{ form.email.label(class="form-control-label") }}
				{% if form.email.errors %}
					{{ form.email(class="form-control form-control-lg is-invalid") }}
					<div>
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div>
				{{ form.passw.label(class="form-control-label") }}
				{% if form.passw.errors %}
					{{ form.passw(class="form-control form-control-lg is-invalid") }}
					<div>
						{% for error in form.passw.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.passw(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div>
				{{ form.rem(class="form-check-input-login") }}
				{{ form.rem.label(class="form-check-label-login") }}
			</div>
		</fieldset>
		<div>
			{{ form.submit(class="btn btn-outline-info-login") }}
		</div>

		<b>
			<a href="#">Forgot Your Password?</a>
		</b>
	</form>
	<div>
	</div>
</div>
{% endblock content %}