{% extends "layout.html" %}
{% block content %}

	{% if request == "POST" %}
	{% if not valid %}
		<p>WRONG FORM INPUT</p>
	{% else %}
		<p>USER CREATED</p>
	{% endif %}
	{% endif %}
    <div class="content-section-register">
        <div class ="content-register"> 
            <h6>Here you can register your company. Please fill in your company's information.</h6> 
    
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset>
			{{ form.email.label(class="form-control-label-register") }}
			{{ form.email(class="form-control form-control-register") }}

			{{ form.passw.label(class="form-control-label-register""form-control-label-register") }}
			{{ form.passw(class="form-control form-control-register") }}
			
			{{ form.confirm_passw.label(class="form-control-label-register") }}
			{{ form.confirm_passw(class="form-control form-control-register") }}

			{{ form.comp.label(class="form-control-label-register") }}
			{{ form.comp(class="form-control form-control-register") }}

			{{ form.rep_name.label(class="form-control-label-register") }}
			{{ form.rep_name(class="form-control form-control-register") }}

			{{ form.rep_lname.label(class="form-control-label-register") }}
			{{ form.rep_lname(class="form-control form-control-register") }}

			{{ form.rep_pnum.label(class="form-control-label-register") }}
			{{ form.rep_pnum(class="form-control form-control-register") }}

			{{ form.submit(class="btn btn-outline-info-register") }}
		</fieldset>
	</form>
	<div>
		<h6>
			Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
		</h6>
	</div>
</div>
{% endblock content %}