<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
    <form method="POST">
        <fieldset {{ enable_switch }}>
            <label>
                <input type="number" name="weight" placeholder="Post weight">
                <input type="submit" name="submit_weight" value="Submit">
            </label>
        </fieldset>
    </form>
    <form method = "POST">
        <fieldset {{ disabled_switch }}>
            <label>
                <input type="date" name ="date">
            </label>
            <label>
                <input type="time" name ="time">
            </label>
        </fieldset>
    </form>
</body>
</html>