<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
{% block content %}
    <form method="POST">
        <fieldset {{ enable_switch }}>
            <label>
                <input type="number" name="weight" placeholder="Post weight">
                <input type="submit" name="submit_weight" value="Submit">
            </label>
        </fieldset>
    </form>
    <form method = "POST">
        <fieldset {{disabled_switch}}>
            {% for i in sortFreeDates %}
                <label>
                    <input type="button" name="{{i}}" value='{{i}}'>
                </label>
            {% endfor %}
        </fieldset>
    </form>
{% endblock content %}
</body>
</html>