<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
{% block content %}
    <form method="POST" class="dayForm">
        <fieldset {{disabled_switch}} class="field_dates">
            {% for i in sortFreeDates %}
                 <p class="a_date"><label for="a_date">{{ i }}</label> <input type="radio"  name="date" value = "{{ i }}"> </p>
            {% endfor %}
        </fieldset>
        <div class="bttndiv"> <input type="submit" value="SUBMIT" class="submitBtnn"></div>
    </form>
{% endblock content %}
</body>
</html>